.gallery{
    margin: 10px;
    float:left;
    border: 1px solid black;
    width: 180px;
}

.gallery:hover{
    border: 3px solid blue;
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
}

.sprite{
    background: url(image\ \(2\).png);
}

.enggriers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0 0;
}

.hipster{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0px -500px;
}

.shadow{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px 0px;
}

.speedster{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;
}